*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
}
.logo{
    color:aqua;
    font-weight: bold;
}
.logo span{
    color:blueviolet;
}
.navbar nav a{
    margin-left: 20px;
    text-decoration: none;
    color:blue;
    font-weight: 500;
}
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background:blue;
    padding: 60px;
    color:white;
}
.hero-text h4{
    letter-spacing: 2px;
    margin-bottom: 10px;
    color: yellow;
}
.hero-text h1{
    font-size: 40px;
    line-height: 45px;
}
.hero-text p{
    margin: 15px;
}
.btn{
    padding: 10px 20px;
    background:red;
    border: none;
    color:blue;
    cursor: pointer;
    border-radius: 5px;
}
.hero-img img{
    width: 300px;
    border-radius: 20px;
}
.services{
    display: flex;
    justify-content:space-around;
    padding: 40px;
    background:white;
}
.service-box{
    width:30%;
    background:white;
    padding: 30px 20px;
    text-align: center;
    border-radius: 8px;
    .service-box .icon{
        font-size: 40px;
        margin-bottom: 10px;
    }
    
}
.service-box h3{
    margin-bottom: 10px;
    font-size: 20px;
    color:black;
}
.service-box p{
    font-size: 14px;
    color:black;
}

